@model IEnumerable<GymManagementSystem.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/extra.css" rel="stylesheet" type="text/css" />
<a class="nav-link text-darktext-decoration-underline" asp-area="" asp-controller="Admin" asp-action="AddTrainer">AddTrainer</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.JoiningDate )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
