@model GymManagementSystem.Models.MembershipType


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var membership = new Object();
            membership.id = @ViewBag.id;

            $.ajax({
                type: "GET",
                url: "https://localhost:7298/api/MembershipTypesApi/" + @ViewBag.id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $('#membershipName').val(response.membershipName) ;
                    $('#fee').val(response.fee) ;
                    $('#description').val(response.description);

                        console.log(response.description);
                    //console.log(response);
   

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response);
                    alert("Error");
                }
            });

            $("#Save").click(function () {
                var membership1 = new Object();
                membership1.id = @ViewBag.id;
                membership1.membershipName = $('#membershipName').val();
                membership1.fee = $('#fee').val();
                membership1.description = $('#description').val();

                console.log("membership1" + membership1.id + membership1.membershipName);

                $.ajax({
                    type: "PUT",
                    url: "https://localhost:7298/api/MembershipTypesApi/" + @ViewBag.id,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(membership1),
                    success: function (response) {
                        console.log(response);
                        //console.log(response);
                        var url = '@Url.Action("Index", "MembershipTypes")';
                        window.location.href = url;

                    },
                    failure: function (response) {
                        alert(response.responseText);
                        alert("Failure");
                    },
                    error: function (response) {
                        alert(response);
                        alert("Error in edit");
                        console.log(response.responseText);
                    }
                });
            })
           
        });


       
    </script>
</head>
<body>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="MembershipName" class="control-label"></label>
        <input asp-for="MembershipName" class="form-control" id="membershipName"/>
        <span asp-validation-for="MembershipName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fee" class="control-label"></label>
        <input asp-for="Fee" class="form-control"  id="fee"/>
        <span asp-validation-for="Fee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" id="description"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" id="Save"/>
    </div>
</body>
</html>





@*@model GymManagementSystem.Models.MembershipType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MembershipType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MembershipName" class="control-label"></label>
                <input asp-for="MembershipName" class="form-control" />
                <span asp-validation-for="MembershipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@