<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "https://localhost:7298/api/MembershipTypesApi",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    //Clear all previous list of members
                    $("#MemberList").empty();

                    //Display Asp.Net Web API response in console log
                    //You can see console log value in developer tool
                    //by pressing F12 function key.
                    console.log(response);


                     //Variable created to store <li>Memeber Detail</li>
                    var ListValue = "";

                    //Variable created to iterate the json array values.
                    var i;

                    //Generic loop to iterate the response arrays.
                    for (i = 0; i < response.length; ++i) {
                       // ListValue += "<li>" + response[i].membershipName + " --- " + response[i].fee+" ----" + response[i].description
                        ListValue += '<tr><td>' + response[i].membershipName + '</td><td>' + response[i].fee + '</td><td>' + response[i].description + '</td><td>' + '<a href="MembershipTypes/Edit/' + response[i].id + '">Edit</a>' + '</td><td>' + '<a href="MembershipTypes/Delete/' + response[i].id + '">Delete</a>' + '</td><td>' + '<a href="MembershipTypes/Details/' + response[i].id + '">Details</a>' + '</td ></tr >'
                    
                    
                    }

                    //Add/Append the formatted values of ListValue variable into ID called "MemberList"
                    //$("#MemberList").append(ListValue);
                    $("#tbody").append(ListValue);

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response);
                    alert("Error");
                }
            });
        });
    </script>
</head>
<body>

</body>
</html>



@model IEnumerable<GymManagementSystem.Models.MembershipType>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id = "tbody">@*
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
