@model IEnumerable<GymManagementSystem.Models.Trainer>
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        
    </head>
<h2 class="text-decoration-underline">Trainer Dashboard</h2>
<br />
<a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="AddTrainer">Add new Trainer</a>

<br />
<br />

<table class="table table-striped m_index">
    <thead>
        <tr">
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.JoiningDate )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.MobileNo)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>

                <td >

                    @Html.DisplayFor(modelItem => item.JoiningDate, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.MobileNo)
                </td>
                <td>
                    <a class="btn btn-dark" href="/Admin/GetTrainerMembers/@item.Id">Details</a>
                     @* <a asp-action="GetTrainerMembers" asp-route-id="@item.Id" class="">Details</a>
                    <a asp-controller="EquipmentRequests" asp-action="Index" class="btn btn-dark">New Requests</a>
*@
                </td>
                
            </tr>
            
        }
    </tbody>
    

</table>
</html>
