@model IEnumerable<GymManagementSystem.Models.Member>
    <h2 class="text-decoration-underline">Trainer Details</h2>
    <br />
    <h4>Name: @ViewBag.TrainerName</h4>
    <h6>CONTACT: @ViewBag.Contact</h6>
    <h6>SALARY: Rs. @ViewBag.Salary</h6>
    <br />
    <h5 class="text-decoration-underline">Your Member Details:</h5>
    <h6>MEMBERS: @ViewBag.Count</h6>
    
    <br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership.MembershipName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Membership.MembershipName)
                </td>

                
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Trainers" asp-action="Edit" asp-route-id="@ViewBag.id" class="btn btn-warning">Edit</a>
    <a asp-controller="Trainers" asp-action="Delete" asp-route-id="@ViewBag.id" class="btn btn-danger">Delete</a>
    
</div>
<hr />
<div><a asp-controller="Admin" asp-action="GetTrainers" class="btn btn-outline-primary">Back to List</a></div>