@model IEnumerable<GymManagementSystem.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}
<h2 class="text-decoration-underline">Trainer Dashboard</h2>
<br />
<a class="btn btn-info" asp-area="" asp-controller="Admin" asp-action="AddTrainer">Add new Trainer</a>
<br />
<br />
<table class="table">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.JoiningDate )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.MobileNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.MobileNo)
                </td>

                <td>
                    <a asp-action="GetTrainerMembers" asp-route-id="@item.Id" class="btn btn-dark">Details</a>

                    <a asp-controller="Trainers" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
